body, html{
    margin: 0;
}
 body{
     height: 100;
     font-family: "Montserrat";
 }

 header{
     position: absolute;
     padding: 1em;
     z-index: 20;
     display: flex;
     justify-content: space-between;
     width: calc(100% -2em);
     background:white;

     a{
         text-decoration: none;
         color: black;
     }
     a.logo{
         font-weight: bold;
         text-transform: none;
     }
     nav ul{
         list-style: none;
         display: flex;
         justify-content: space-around;
         width: 100%;
         
     }
 }